{% macro ephemeral_nav_link(what, where, selected=False) -%}
    <li class="ephemeral{%- if selected %} selected{% endif %}"><a
        href="{{ SITEURL }}/{{ where }}">{{ what }}</a></li>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>
        {% block title %}{{ SITENAME }}{% if title %} &middot; ${ title | escape
            }{% endif %}{% endblock %}</title>
{#    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/screen.css"#}
{#          type="text/css"/>#}
{#    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css"#}
{#          type="text/css"/>#}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css"
          type="text/css"/>

</head>
<body>

{% if SITENAME -%}
    <div id="header">
        <ul id="nav">
            <li {%- if output_file == "index.html" %}
                class="selected"{% endif %}><a href="{{ SITEURL }}">Home</a>
            </li>

            {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                    <li{% if pg == page %} class="selected"{% endif %}><a
                        href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
                {% endfor %}
            {% endif %}

            <li {%- if output_file == "archives.html" %} class="selected"{%
                endif %}>
                <a href="{{ SITEURL }}/archives.html">Archives</a>
            </li>
        </ul>

        <div class="title">
            <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
            {%- if SITESUBTITLE %}
                <h2>{{ SITESUBTITLE }}</h2>
            {%- endif %}

        </div>
    </div>
{%- endif %}
{#{% block content %} {% endblock %}#}
</body>
</html>
